In [1]:
from Univariate import Univariate

In [2]:
import pandas as pd
import numpy as np

In [5]:
dataset=pd.read_csv("Placement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [7]:
dataset["ssc_p"].var()

117.22837673549229

In [9]:
dataset["ssc_p"].std()

10.827205398231452

In [11]:
from Univariate import Univariate

In [13]:
qual,quan=Univariate.qualQuan(dataset)
print(qual)
print(quan)
del quan[0]
print("After Delete Slno : ",quan)

['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']
['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
After Delete Slno :  ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [15]:
descriptive=Univariate.univeriate(dataset,quan)
descriptive

,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser Outlier,37.95,42.75,44.5,24.75,45.48,150000.0
Greater Outlier,98.35,91.15,88.5,118.75,78.72,390000.0
Min,40.89,37.0,50.0,50.0,51.21,200000.0
Max,89.4,97.7,91.0,98.0,77.89,940000.0
Skew,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
Kurtosis,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
Var,117.228377,118.755706,54.151103,176.251018,34.028376,8734295412.759695
Std,10.827205,10.897509,7.358743,13.275956,5.833385,93457.45242