In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("Placement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [5]:
def qualQuan(dataset):
    qual=[]
    quan=[]
    for cn in dataset.columns:
        if(dataset[cn].dtype == 'O'):
            qual.append(cn)
        else:
            quan.append(cn)
    return qual, quan

In [7]:
qual,quan=qualQuan(dataset)
print(qual)
print(quan)

['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']
['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [9]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode",
                                "Q1:25%","Q2:50%","Q3:75%","Q4:100%",
                                "IQR","1.5Rule","Lesser Outlier","Greater Outlier","Min","Max"],columns=quan)
for cn in quan:
    descriptive.loc["Mean",[cn]]=dataset[cn].mean()
    descriptive.loc["Median",[cn]]=dataset[cn].median()
    descriptive.loc["Mode",[cn]]=dataset[cn].mode()[0]
    descriptive.loc["Q1:25%",[cn]]=dataset.describe().loc["25%",[cn]]
    descriptive.loc["Q2:50%",[cn]]=dataset.describe().loc["50%",[cn]]
    descriptive.loc["Q3:75%",[cn]]=dataset.describe().loc["75%",[cn]]
    descriptive.loc["Q4:100%",[cn]]=dataset.describe().loc["max",[cn]]
    descriptive.loc["IQR",[cn]]=descriptive.loc["Q3:75%",[cn]]-descriptive.loc["Q1:25%",[cn]]
    descriptive.loc["1.5Rule",[cn]]=1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Lesser Outlier",[cn]]=descriptive.loc["Q1:25%",[cn]]-1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Greater Outlier",[cn]]=descriptive.loc["Q3:75%",[cn]]+1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Min",[cn]]=dataset.describe().loc["min",[cn]]
    descriptive.loc["Max",[cn]]=dataset.describe().loc["max",[cn]]

descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser Outlier,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater Outlier,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1.0,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

In [11]:
lesser=[]
greater=[]
for cn in quan:
    if(descriptive[cn]["Min"] < descriptive[cn]["Lesser Outlier"]):
        lesser.append(cn)
    if(descriptive[cn]["Max"]> descriptive[cn]["Greater Outlier"]):
        greater.append(cn)

In [13]:
print(lesser)
print(greater)

['hsc_p']
['hsc_p', 'degree_p', 'salary']

In [34]:
for cn in lesser:
    dataset.loc[dataset[cn] < descriptive.loc["Lesser Outlier",[cn]]] = descriptive.loc["Lesser Outlier",[cn]]

ValueError: Can only compare identically-labeled Series objects

In [50]:
for cn in lesser:
    dataset.loc[:,[cn]][dataset.loc[:,[cn]]< descriptive[cn]["Lesser Outlier"]]= descriptive[cn]["Lesser Outlier"]
for cn in greater:
    dataset.loc[:,[cn]][dataset.loc[:,[cn]]> descriptive[cn]["Greater Outlier"]]= descriptive[cn]["Greater Outlier"]

In [52]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode",
                                "Q1:25%","Q2:50%","Q3:75%","Q4:100%",
                                "IQR","1.5Rule","Lesser Outlier","Greater Outlier","Min","Max"],columns=quan)
for cn in quan:
    descriptive.loc["Mean",[cn]]=dataset[cn].mean()
    descriptive.loc["Median",[cn]]=dataset[cn].median()
    descriptive.loc["Mode",[cn]]=dataset[cn].mode()[0]
    descriptive.loc["Q1:25%",[cn]]=dataset.describe().loc["25%",[cn]]
    descriptive.loc["Q2:50%",[cn]]=dataset.describe().loc["50%",[cn]]
    descriptive.loc["Q3:75%",[cn]]=dataset.describe().loc["75%",[cn]]
    descriptive.loc["Q4:100%",[cn]]=dataset.describe().loc["max",[cn]]
    descriptive.loc["IQR",[cn]]=descriptive.loc["Q3:75%",[cn]]-descriptive.loc["Q1:25%",[cn]]
    descriptive.loc["1.5Rule",[cn]]=1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Lesser Outlier",[cn]]=descriptive.loc["Q1:25%",[cn]]-1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Greater Outlier",[cn]]=descriptive.loc["Q3:75%",[cn]]+1.5*descriptive.loc["IQR",[cn]]
    descriptive.loc["Min",[cn]]=dataset.describe().loc["min",[cn]]
    descriptive.loc["Max",[cn]]=dataset.describe().loc["max",[cn]]

descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.396372,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
Lesser Outlier,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
Greater Outlier,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1.0,40.89,42.75,50.0,50.0,51.21,200000.0
Max,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

In [25]:
pandas -version

NameError: name 'pandas' is not defined

In [29]:
print(pd.__version__)

2.2.2